body {
  background-color: white;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: white;
}
.navbar-left {
  display: flex;
  align-items: center;
}
.navbar-logo {
  margin-right: 10px;
}
.navbar-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-button {
  margin: 0 10px;
  padding: 5px 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: black;
  background-color: white;
  font-family: "Sofia Sans Condensed", sans-serif;
  font-size: 18px;
}
.navbar-button:hover {
  color: #0942c7;
}
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.426);
  background-color: white;
  padding: 10px;
  border-radius: 15px;
  width: 50%;
  margin: auto;
}
.search-input {
  outline: None;
  width: 100%;
  border: none;
  height: 100%;
  box-shadow: None;
  font-size: 14px;
  padding: 5px;
  color: rgba(0, 0, 0, 0.705);
  padding-left: 10px;
}
.search-button {
  margin: auto;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
  font-size: 18px;
  width: fit-content;
  font-family: "Sofia Sans Condensed", sans-serif;
}
.search-button:hover {
  color: #0942c7;
}
.surprise-button {
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
  font-size: 18px;
  font-family: "Sofia Sans Condensed", sans-serif;
  white-space: nowrap;
}
.surprise-button:hover {
  color: #0942c7;
}

#logo-image {
  font-family: "Alkatra", cursive;
  background-color: white;
  font-size: 20px;
}

img {
  max-width: 100%;
  display: block;
}

.gallery-contianer {
  margin: auto;
  margin-top: 60px;
  width: 60%;
}
.masonry-layout {
  --column: 1;
  --gap: 1.2rem;
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-gap: var(--gap);
}

.masonry-item {
  margin-bottom: var(--gap);
}

.columns-2 {
  --columns: 2;
}

.columns-3 {
  --columns: 3;
}

.columns-4 {
  --columns: 4;
}
.columns-5 {
  --columns: 5;
}

.gallery-item {
  position: relative;
}

.gallery-item:hover img {
  scale: 1.05;
  color: white;
  filter: blur(3px);
}

.text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  color: white;
  scale: 1.05;
}

.text-overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.373);
  color: white;
}

.gallery-item:hover .text-overlay {
  color: white;
  opacity: 1;
}

.text-overlay p {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin: 0;
  width: 80%;
}

/* /* ------------------------------------------------------- Loading -------------------------------* / */

#loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}

#loading-screen {
  background-color: #fff;
  border-radius: 10px;
  padding: 100px;
  text-align: center;
  animation: slide-in 0.8s cubic-bezier(0.42, 0, 0.21, 1) forwards;
  opacity: 1;
}

.spinner {
  border: 10px solid rgba(0, 0, 0, 0.1);
  border-left-color: #2877c2;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s alternate-reverse infinite;
  margin: auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

#loader {
  margin-top: 0px;
  font-size: 20px;
  margin-top: 20px;
  opacity: 0;
  transform: translateY(-20px);
  animation: fade-in 0.8s cubic-bezier(0.42, 0, 0.21, 1) forwards,
    slide-up 0.8s cubic-bezier(0.42, 0, 0.21, 1) forwards;
}

@keyframes slide-in {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-up {
  from {
    transform: translateY(-20px);
  }
  to {
    transform: translateY(0);
  }
}

/* ------------------------------------------------------- Grid ------------------------------- */

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.grid-container {
  margin-top: -110px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px; /* adjust this value as needed */
  border-radius: 0px;
  overflow: hidden;
}

.grid-item img {
  max-width: 250px;
  max-height: 250px;
  object-fit: cover;
}

/* ------------------------------------------------------- pop up ------------------------------- */
.popup-card {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
}

.popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 450px;
  height: fit-content;
  overflow: auto;
  background-color: whitesmoke;
  border-radius: 14px;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.popup-card img {
  width: 100%;
  max-width: 500px;
  max-height: 500px;
}

.popup-prompt {
  color: #000000aa;
  font-size: 20px;
  margin: 20px;
  text-align: center;
  word-wrap: break-word;
  max-width: 500px;
  max-height: 500px;
  background-color: whitesmoke;
  overflow: hidden;
}

.popup-card button {
  color: rgba(0, 0, 0, 0.821);
  background-color: #ececf1;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 15px;
  width: 75%;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: Helvetica, sans-serif;
  
}

.popup-card button:hover {
  background-color: #ececf1c2;
}

.popup-active .gallery-item {
  filter: none;
  transform: none;
  /* other rules to disable the effects */
}

.popup-active .text-overlay {
  display: none;
  /* other rules to disable the effects */
}

.popup-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.popup-download {
  margin-right: 5px;
  background-color: #f8d7da; /* red background color */
}

.popup-share {
  margin-right: 5px;
  background-color: #d4edda; /* green background color */
}

.popup-save {
  margin-right: 5px;
  background-color: #cce5ff; /* blue background color */
}


